.heading {
  color: #1e2b09;
  font-size: 3.2rem;
  text-align: center;
  margin: 4rem auto;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.container {
  max-width: 75%;
  margin: 0 auto;
}
.subtitle {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1e2b09;
  margin-bottom: 1.6rem;
}

.btn {
  font-size: 1.4rem;
  display: inline-block;
  font-weight: 700;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}
.view-modal-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
.btn--hide-modal,
.btn--show-modal {
  padding: 1rem;
  background-color: #fff;
  color: #1e2b09;
  z-index: 10;
}

.modal-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
